doctype html
html(ng-app="app")
  head
    title Open Roleplaying Character Service
    link(rel="stylesheet" href="main.css")
  body
    include ./partials/navbar.jade
    block content
    
    script(src="bundle.js")
