doctype html
html(ng-app="app")
  head
    title Dive Log (AngularJS)
    link(rel="stylesheet" href="main.css")
  body 
    .container
      h1 My Latest Dives(AngularJS)
      .row(ng-controller="DiveLogCtrl")
        .col-sm-4(ng-repeat="dive in dives")
          h3 {{dive.site}}
          h4 {{dive.location}}
          h2 {{dive.depth}} feet | {{dive.time}} mins
    script(src="bundle.js")
    
